---
import BaseLayout from "../layouts/BaseLayout.astro";
import NewsCard from "../components/NewsCard.astro";

import { getCollection } from "astro:content";

const news = await getCollection("news");

news.sort(
  (a, b) =>
    b.data.date.getTime() -
    a.data.date.getTime()
);
---

<BaseLayout
  title="Noticias — Ars Mathematica"
  description="Últimas noticias del proyecto Ars Mathematica: nuevos cursos, recursos, publicaciones y figuras destacadas."
>

  <main class="container page">

    <h1>Noticias</h1>

    {news.map((entry) => (
      <NewsCard entry={entry} />
    ))}

  </main>

</BaseLayout>