---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---

<BaseLayout title="Sobre mí">

  <Header />

  <main class="container">

    <h1>Sobre mí</h1>

    <p>
      Rodrigo Sánchez Martínez es físico experimental,
      investigador y educador especializado en visualización
      científica mediante LaTeX.
    </p>

  </main>

</BaseLayout>