---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";

import { getEntry, render } from "astro:content";

const page = await getEntry("pages", "sobre");

if (!page) {
  throw new Error("Page not found");
}

const { Content } = await render(page);
---

<BaseLayout title="Sobre mí">

  <Header />

  <main class="container">

    <Content />

  </main>

</BaseLayout>