---
const { section } = Astro.props;
---

<div class="under-construction">
  <p class="construction-icon">⧖</p>
  <h2>En construcción</h2>
  <p class="construction-text">
    Esta sección está en desarrollo. Pronto encontrarás aquí {section}
  </p>
</div>