---
import { asset } from "../utils/asset.ts";
---

<header>
  <div class="container nav">

    <a href={asset("/")} class="brand">
      Ars Mathematica
    </a>

    <nav>
      <a href={asset("/cursos")}>Cursos</a>
      <a href={asset("/tutoriales")}>Tutoriales</a>
      <a href={asset("/noticias")}>Noticias</a>
      <a href={asset("/recursos")}>Recursos</a>
      <a href={asset("/sobre")}>Sobre mí</a>
    </nav>

  </div>
</header>