---
import { asset } from "../utils/asset.ts";
const path = Astro.url.pathname;
---

<header>
  <div class="container nav">

    <a href={asset("/")} class="brand">
      Ars Mathematica
    </a>

    <nav>
      <a href={asset("/cursos")} class={path.includes("/cursos") ? "active" : ""}>Cursos</a>
      <a href={asset("/tutoriales")} class={path.includes("/tutoriales") ? "active" : ""}>Tutoriales</a>
      <a href={asset("/noticias")} class={path.includes("/noticias") ? "active" : ""}>Noticias</a>
      <a href={asset("/recursos")} class={path.includes("/recursos") ? "active" : ""}>Recursos</a>
      <a href={asset("/sobre")} class={path.includes("/sobre") ? "active" : ""}>Sobre mí</a>
    </nav>

  </div>
</header>